*{
    margin: 0;
    padding: 0;
}

#pagina1{
    background-color: blueviolet; 
    width: auto;
    height: 800px;
    display: block;
}

#pagina2{
    background-color: #fafafa;
    width: auto;
    height: 900px;
    display: block;
}
h1{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#pagina1 h3{
margin-top: 20px;
text-align: right;
margin-right: 30px;
color: #fafafa;
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
}
#resumo{
    color: #fafafa;
    text-align: left;
    margin-left: 50px;
}
img{
    width: 620px;
}
h2{
    color: blueviolet;
    text-align: justify;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 20px;
}
#palavra{
    color: #fafafa;
    text-align: left;
    margin-left: 50px;
}
#paragrafo{
    color: #fafafa;
    text-align: left;
    width: 80%;
    margin-left: 50px;
    text-align: justify;
}
#preto{
    color: black;
    text-align: left;
    margin-top: 30px;
    margin-left: 20px;
}
#foto{
    width: 100%;
}
#pagina1 p{
margin-top: 20px;
color: #fafafa;

}

#text_purple {
    line-break: 0;
    margin-left: 230px;
    margin-bottom: 120px;
}


main {
    background-color: #58545c;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


#nome {
    color: white;
    margin-left: 520px;
}

#nome2{
    color: white;
    margin-left: 615px;
}

.container_pag1{
    background-color: blueviolet;
    margin: 14px;
    max-width: 800px;
    width: 100%;;
    overflow: hidden;
}

.container_pag2{
    background-color: #fafafa;
    margin: 14px;
    max-width: 800px;
    width: 100%;
    box-sizing: 0px 3px 5px rgba(0,0,0, 0,5);
    overflow: hidden;
    margin-top: 20px;
}

.container_pag1{
    background-color: #fafafa;
    border-radius: 14px;
    margin: 14px;
    max-width: 800px;
    width: 100%;
    box-sizing: 0px 3px 5px rgba(0,0,0, 0,5);
    overflow: hidden;
}
p{
    text-align: justify;
}

.header_container{
    width: 100%;
    height: 56px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    background-color: #323639;
    box-shadow: 0px 0px 0px 0px black;
}

.inicial_header {
    width: 100%;
    height: 36px;
    padding: 20px;
    display: flex;
    align-items: center;
}

#bars {
    width: 20px;
    height: 20px;
    position: 0;
}

#titulo{
    width: 130px;
    height: 20.010px;
    margin: 16px;
    font-weight: 500;
    font-size: 13.92px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 36px;
    white-space: nowrap;
}

.numeropagina{
    color: white;
    font-size: 13.92px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 18px;
}

#gosmadiv{
    margin-left: 300px;
    background-color: black;
    padding: 5px 7px 5px 7px;
    height: 15px;
    margin-bottom: 17px;
    margin-right: 2px;
}

#porcentagem{
    color: white;
    margin-left: 15px;
    margin-bottom: 17px;
    background-color: black;
    padding: 3px;
}

.barra{
    color: gray;
    margin-left: 15px;
    margin-bottom: 20px;
}

#sinalmais{
    color: white;
    margin-left: 15px;
    font-size: 26px;
    margin-bottom: 20px;
}

#sinalmenos{
    color: white;
    margin-left: 15px;
    font-size: 26px;
    margin-bottom: 45px;
}

#imgheader{
    height: 33px;
    width: auto;
    margin-bottom: 20px;
}